body{
    background-color: #F4F4F2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    }
.top-banner{
    background-color: #001637;
    font-family: Avenir Next;
    color: white;
    font-size: small;
    text-align: center;
    padding: 5px;
    min-width: 1080px;
}
h4{
    font-family: oswald, sans-serif;
    color: #001637;
    font-size: 30px;
    align-items: baseline;
    vertical-align: bottom;
    position: relative
}
h3{
    font-family: oswald, sans-serif;
    text-align: center;
    color: #142239;
    }
p {
    color: #001637;
    font-family: Avenir Next;
    align-items: baseline;
    vertical-align: bottom;
    padding-left: 50px;
}
.dope{
    /* position: absolute; */
    font-family: oswald, sans-serif;
    color: #001637;
    font-size: 60px;
    text-align: center;  

}
.scroll{
    /* max-height: 250px;
    border: 1px solid black;
    display: grid;
    place-items: center;
    margin: auto;
    position: relative;
    width: 90%;
    overflow-x: auto; */
    height: 90px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.iscroll div{
    display: flex;
    width: calc(250px * 12);
    animation: scroll 20s linear infinite;
    /* animation-delay: -20s; */
}
@keyframes scroll {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-1500px, 0, 0);
    }
}

#change{
    font-family: oswald, sans-serif;
    color: #F4F4F2;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color:#001637;
    text-align: center;
}
/* .scroll::-webkit-scrollbar{
    width: 0;
} */
/* .scroll .item{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: grey;
    margin-right: 2px;
} */
.item{
    font-family: oswald, sans-serif;
    color: #001637;
    font-size: 30px;
    /* height: 140px; */
    /* width:300px; */
    display: flex;
    align-items: center;
    padding: 15px;
}
.shit{
    font-family: oswald, sans-serif;
    color: #F4F4F2;
    font-size: 60px;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color:#001637;
    text-align: center;
 }
.image1{
    vertical-align: bottom;
    height: 1.5em;
}
.panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.left-image{
    border-right: 1px solid black;
    padding-left: 100px;
}
.left-image img{
    height: 38rem;
    vertical-align: center;
    align-items: center;
    text-align: center;
}
.right-text{
    align-items: baseline;
    vertical-align: text-bottom;
    text-align: right;
    padding-right: 50px;
}
.button{
    font-family: oswald, sans-serif;
    color: #001637;
    background-color: #001637;
    border-radius: 50px;
    margin: 30px;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color:#F4F4F2;
    text-align: center;
}
a:link {
    color: transparent;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #F4F4F2;
}
@media screen and (max-width: 600px){
    p{
        padding-right: 10px;
        padding-left: 10px;
    }
}
.footer{
    padding-top: 30px;
    align-items: center;
    text-align: center;
}
/* .flex-animation{
    display: flex;
    width: 200%;
    overflow: hidden;
    position: absolute;
    left: -100%;
}
.animation{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.animation2{
    display: flex;
    justify-content: space-around;
    width: 50%;
} */
/* CURSOR */
.shit > .txt {
    border-right: 0.1rem solid #001637;
    /* padding-top: -10px; */
}
@keyframes marquee {
0% { left: 0;}
100% { left: -100%;}
}
.animate {
    width: 200%;
    animation: marquee 20s linear infinite;
    top: 50%;
    transform: translate (0, -50%);
}
