body{
    background-color: #F4F4F2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    }
.top-banner{
    background-color: #001637;
    font-family: Avenir Next;
    color: white;
    font-size: small;
    text-align: center;
    padding: 5px;
    min-width: 1080px;
}
h4{
    font-family: oswald, sans-serif;
    color: #001637;
    font-size: 30px;
    align-items: baseline;
    vertical-align: bottom;
    position: relative
}
h3{
    font-family: oswald, sans-serif;
    text-align: center;
    color: #142239;
    }
p {
    color: #001637;
    font-family: Avenir Next;
    align-items: baseline;
    vertical-align: bottom;
    padding-left: 50px;
}
.dope{
    /* position: absolute; */
    font-family: oswald, sans-serif;
    color: #001637;
    font-size: 60px;
    text-align: center;  
}
section
{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
section .scroll{
    width: 100%;
    display: flex;
}
section .scroll div {
    color: #001637;
    font-size: 4em;
    font-family: oswald, sans-serif;
    white-space: nowrap;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
}
section .scroll div:nth-child(2){
    animation: animate2 40s linear infinite;
    animation-delay: -20s;
}
section .scroll div span{
    -webkit-text-stroke: 1px #001637;
    font-family: oswald, sans-serif;
    color: transparent;
}
@keyframes animate {
    0%
    {
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate2 {
    0%
    {
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
}
#change{
    font-family: oswald, sans-serif;
    color: #F4F4F2;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color:#001637;
    text-align: center;
}
.shit {
    font-family: oswald, sans-serif;
    color: #F4F4F2;
    font-size: 60px;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color:#001637;
    text-align: center;
}
.image1{
    vertical-align: bottom;
    height: 1.5em;
}
.panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.left-image{
    border-right: 1px solid black;
    padding-left: 100px;
}

.left-image img{
    width: 100%;
    height: auto;
    vertical-align: center;
    align-items: center;
    text-align: center;
}

.right-text{
    align-items: baseline;
    vertical-align: text-bottom;
    text-align: right;
    padding-right: 50px;
}
.button{
    background-color: #001637;
    font-family: oswald, sans-serif;
    color: white;
    border-radius: 50px;
    margin: 30px;
    font-size: 20px;
    text-align: center;
}
.button:hover{
    background-color: white;
    color: #001637;
}
a:link{
    text-decoration: none;
    color:unset;
}

/* @media screen and (max-width: 600px)
    p{
        padding-right: 10px;
        padding-left: 10px;
    }
} */
@media screen and (max-width: 600px){
    .responsive{
        padding: 0px 20px;
    }
}
.footer{
    padding-top: 30px;
    align-items: center;
    text-align: center;
}
/* CURSOR */
.shit > .txt {
    border-right: 0.1rem solid #001637;
    /* padding-top: -10px; */
}
@keyframes marquee {
0% { left: 0;}
100% { left: -100%;}
}
.animate {
    width: 200%;
    animation: marquee 20s linear infinite;
    top: 50%;
    transform: translate (0, -50%);
}

